<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/home']"><h3>rate n share!</h3></a>
  <ul class="navbar-nav">
    <li class="nav-item"><a [routerLink]="['/home']" class="nav-link">Home</a></li>
    <li class="nav-item active"><a [routerLink]="['/friends']" class="nav-link">Friends</a></li>
    <li class="nav-item"><a [routerLink]="['/rating']" class="nav-link">Add Rating</a></li>
    <li class="nav-item"><a [routerLink]="['/']" class="nav-link">Logout</a></li>
  </ul>
</nav>
<br>
<p>Your friends' last ratings:</p>
<ratings-table [ownRatings]='false'></ratings-table>
<br>